@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --prefixbox-primary: #1abc9c;
    --prefixbox-red: #ff0000;
    --prefixbox-black: #000;
    --prefixbox-white: #fff;
    --prefixbox-oldPrice: #999999;

    --body-fontMontserrat: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 0 30px;
    padding: 0 10px;
}

.search-title {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: flex-start;
}

.search-input {
    width: 100%;
    margin-left: 15px;
    position: relative;
}

input#keyword {
    position: relative;
    width: 500px;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 25px;
    border: 2px solid var(--prefixbox-primary);
}

input#keyword:focus {
    outline: none;
}


/*--------------------AUTOCOMPLETE------------------------*/

.prefixbox-autocomplete-container {
    position: absolute;
    top: 44px;
    box-sizing: border-box;

    display: flex;
    width: 100%;

    margin: 0;
    border: 2px solid var(--prefixbox-primary);
    border-radius: 24px;

    font-family: var(--body-fontMontserrat);
    text-align: left;

    background-color: var(--prefixbox-white);

    z-index: 62;

    box-shadow: 0 5px 10px rgba(0, 0, 0, .25)
}

.two-column {
    max-width: 750px;
    width: 100%;
    height: 500px;
}

.prefixbox-autocomplete-container.open {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.prefixbox-autocomplete-container .col-1 {
    /* width: 50%; */
    width: 34.2%;
    min-width: 164.5px;
    padding: 12px;
    border: none;
    border-radius: 20px 0 0 20px;

    background-color: var(--prefixbox-primary);
}

.prefixbox-autocomplete-container .col-2 {
    /* width: 50%; */
    width: 100%;
    overflow: hidden;

    padding-right: 12px;
}


.prefixbox-autocomplete-container .prefixbox-autocomplete-keyword-container {
    position: relative;

    border-bottom: 1px solid rgba(255, 255, 255, .15);
    padding: 14px;

    font-family: var(--body-fontMontserrat);
    font-size: 14px;
    color: var(--prefixbox-white);

    cursor: pointer;

    transition-duration: .3s;
    transition-delay: .1s;
}

.prefixbox-autocomplete-keyword-container::after {
    content: "";
    display: block;

    position: absolute;
    top: 4;
    left: 0;

    width: 100%;
    height: 37px;
    border-radius: 50px;

    background-color: var(--prefixbox-white);
    opacity: 0;

    transition-duration: .3s;
    transition-delay: .1s;
}

.prefixbox-autocomplete-keyword-container>span>b {
    font-weight: 500;
}

.prefixbox-autocomplete-container .prefixbox-autocomplete-keyword-container:hover {
    padding-left: 30px;

    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.prefixbox-autocomplete-keyword-container:hover::after {
    opacity: .15;
}

/*--------------------COL-2------------------------*/
.group-id-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    padding: 22px 0;

    overflow-y: scroll;
    height: 100%;
}

.group-id-2::-webkit-scrollbar {
    width: 7px;
}

.group-id-2::-webkit-scrollbar-track {
    scrollbar-width: thin;
    margin-block: 12px;

    border-radius: 100px;
    background-color: #d4d4d4;
}

.group-id-2::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: var(--prefixbox-primary);
    border-radius: 10px;
}

.group-id-2::-webkit-scrollbar-thumb:hover {
    background-color: #1ba58a;
}

.prefixbox-group-2-title.pfbx-group-title {
    display: none;
}

.prefixbox-autocomplete-product-container {
    width: 100%;
    max-width: 140px;
    padding: 5px;
}

.prefixbox-autocomplete-product {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 219px;
    width: 140px;

    padding: 10px;
    border: 2px solid transparent;
    border-radius: 24px;

    text-align: center;

    cursor: pointer;

    transition-duration: .3s;
    transition-delay: .1s;
}

.prefixbox-autocomplete-product:hover {
    border: 2px solid var(--prefixbox-primary);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);

}

.prefixbox-autocomplete-left {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90px;
    width: 80%;
    margin-top: 25px;

    object-fit: cover;
    overflow: hidden;
}

.prefixbox-autocomplete-left>img {
    height: 100%;
    max-width: 100%;
}

.prefixbox-autocomplete-body {
    margin-top: 10px;
}

.prefixbox-autocomplete-body>b {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.prefixbox-autocomplete-right {
    margin-top: 16px;

    font-family: Arial, Helvetica, sans-serif;
}

.prefixbox-autocomplete-right span {
    display: block;
}

.prefixbox-sale-price,
.prefixbox-regular-price {
    font-size: 14px;
    font-weight: 700;
}

.prefixbox-sale-price {
    color: var(--prefixbox-red);
}

.prefixbox-regular-price {
    color: var(--prefixbox-primary);
}

.prefixbox-old-price {
    padding-top: 8px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: line-through;
    color: var(--prefixbox-oldPrice);
}


/*--------------------RESPONSIVITY SETUP------------------------*/

@media (max-width: 627px) {
    input#keyword {
        width: 100%;
    }

}

@media (max-width: 605px) {
    .prefixbox-autocomplete-container {
        flex-direction: column;
    }

    .prefixbox-autocomplete-container .col-1 {
        width: 100%;

        border-radius: 20px 20px 0 0;
    }

    .col-1 {
        height: 195px;
    }

    .group-id-1 {
        overflow-y: scroll;
        height: 100%;
    }

    .group-id-1::-webkit-scrollbar {
        width: 0;
    }
}

@media (max-width: 500px) {
    .search-form {
        margin: 0;
        padding: 15px;
    }

    .search-title {
        display: none;
    }

    .search-input {
        margin: 0;
    }

}